.home{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

@media (max-width: 650px) {
    .head{
        flex-direction: column;
    }

    .rick{
        display: none;
    }
}

.input{
    width: 50%;
    height: 30%;
    border: 4px solid green;
    border-radius: 10px;
    text-align: center;
}

.logotipoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}

.logotipo{
    width: 100%;
    height: 100%;
}

.rick{
    width: 50%;
    height: 100%;
}

.cards{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
}

.notFound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50%;
    font-size: 1.5rem;
    color: white;
}

.notFoundDiv{
    display: flex;
    justify-content: center;
}

.notFoundImage{
    width: 50%;
}